admin-module-menu 
  div.s-full.bg-primary.text-white.p16
    div.p16.f.fh.mb32
      a(href='/')
        img(src='{opts.logo}')
    div.mb32(each='{section in opts.menu}')
      div.bold.fs12.mb8 {section.label}
      div
        div.hover-trigger.hover-bg-light.rounded-8.pl8(each='{item in section.items}')
          a.p8.block(href='{item.link}', class='{"bold mrn16 mln8 pl16 rounded-top-left-full rounded-bottom-left-full bg-whitesmoke text-gray": location.pathname.indexOf(item.link) === 0}') {item.label}
