admin-item-text
  p.line-clamp-1 {text || opts.riotValue}
  
  style(type='less').
    :scope {
      display: block;
    }

  script.
    this.on('mount', () => {
      let options = this.opts.heading.options;
      if (options) {
        // マッピングの反映
        let mappings = options.mappings;
        if (mappings && mappings[opts.riotValue]) {
          this.text = mappings[opts.riotValue];
          this.update();
        }
      }
    });

admin-item-date
  p(if='{!opts.riotValue}') -
  p(if='{opts.riotValue}') {dayjs(opts.riotValue).format('YYYY/MM/DD HH:mm')}

  style(type='less').
    :scope {
      display: block;
    }

admin-item-image
  img(src='{opts.riotValue}')
  
  style(type='less').
    :scope {
      display: block;
    }
